.header {
    height: 120px;
    width: 100%;
    background-image: linear-gradient(0, #3aee34, #09a32a);
    position: fixed;
    top: 0;
}

.text-header li a {
    color: #fff;
    font-size: 12.5px;
    padding: 0;
}

.navbar-custom {
    justify-content: space-between;
}

.nav-item__border {
    border-right: 1px solid #aaeea7;
}

.customicon__social {
    display: flex;
}

.customicon__social a li {
    width: 10px;
    height: 10px;
    /* color: #fff; */
    margin-right: 5px;

}

.container__header-search {
    width: 100%;
    height: 70px;
}

.shopping__card i {
    color: #fff;
}

.shopping__card {
    margin-top: 12px;
    margin-left: 55px;
    font-size: 30px;
}

.search__main {
    height: 60px;
    margin-top: 12px;
}

#logoo {
    background-image: url('./logo.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.search__suggestions {
    margin-top: -18px;

}

.search__suggestions a {
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
    color: #fff;
}

.main__content {
    width: 100%;
    margin-top: 120px;

}
.ml-130 {
    margin-left: 130px;
}
.mr-110 {
    margin-right: -110px;
}
/* .w-1200 {
    width: 1200px;
} */
.nav-link {
    font-size: .85rem !important;
    font-weight: 500;
}
.nav-item-avartar:hover .header__navbar-user-menu{
    display: block;
}
.nav-item-avartar {
    
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100%);
    right: -70px;
    background-color: white;
    border-radius: 2px;
    width: 196px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;/*bóng nổi*/
    display:none;
    transform-origin: calc(100% - 32px) top;
    animation:headeNotifyGrowth ease-in 0.5s;
    will-change: opacity, transform;
}
.header__navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 0px;
    top: -28px;
}
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
}
.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a {
    text-decoration: none;
    color: black !important;
    font-size: 1.4rem;
    padding: 4px 16px !important;
    display: block;
}
.header__navbar-user-item a:hover {
    background-color: #fafafa;
}
@keyframes headeNotifyGrowth {
    from {
        opacity: 0;/*Hiện mờ dần lên*/
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}