#main {
    width: 700px;
    height: 500px;
    margin-left: 500px;
    margin-top: 50px;
    ;
}

#main__chat-frame {
    height: 500px;
    overflow-y: auto;
    background-color: #f0f2f5;
    padding: 10px;
}

#main__chat-frame .child {
    color: #fff;
    padding: 8px;
    text-decoration: none;
}

.child {
    margin: 10px;
}

#main #name {
    background-color: #008000;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#main #name span {
    margin-top: 5px;
}

.cmm {
    background-color: #9edb00;
    max-width: 50%;
    float: left;
    clear: both;
    border-radius: 10px;
    padding: 10px;
}

.caiconcac {
    background-color: #0ddfa5;
    max-width: 50%;
    float: right;
    clear: both;
    margin-bottom: 56px;
    border-radius: 10px;
    padding: 10px;
}

.cmm:last-child {
    float: none;
}